.login {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-areas: "image form";
	position: relative;
}

.login::before {
	background: url("../../assets/images/login.jpg") no-repeat center center/cover;
	content: "";
	display: block;
	grid-area: image;
	height: 100%;
	left: -26px;
	position: absolute;
	width: 100%;
}

.container {
	align-items: center;
	display: flex;
}

.forms {
	grid-area: form;
}

.forms section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
	.login {
		grid-template-areas: "form";
		grid-template-columns: 1fr;
	}

	.login::before {
		display: none;
	}
}
