.modal {
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	min-height: 100vh;
	left: 0;
	min-width: 280px;
	padding: 2rem calc(6rem + 2vw) 2rem 6rem;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
}

.modal :global(body) {
	overflow: hidden;
}

@media (max-width: 36rem) {
	.modal {
		padding: 1rem calc(1rem + 2vw) 1rem 1rem;
	}
}
