.wrapper {
	background: rgba(255, 255, 255, 0.5);
	margin-top: 4rem;
	display: flex;
	height: calc(100% - 4rem);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.transparent {
	background: none;
}

.full {
	height: 100%;
	margin-top: 0;
}

.loading {
	align-items: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	display: flex;
	height: 80px;
	justify-content: center;
	margin: auto;
	padding-left: 5px;
	width: 80px;
}
