.post {
	align-items: center;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr minmax(0, 410px);
}

@media (max-width: 767.98px) {
	.post {
		grid-template-columns: 1fr;
	}
}

.preview {
	background-image: url("https://media.istockphoto.com/id/864591480/pt/vetorial/cartoon-dog-in-a-box-adoption-vector-illustration.jpg?s=612x612&w=0&k=20&c=FvdMEIYzuTVRlfbTcIBAO-7QMRNfKtAUpjKK-TePQQU=");
	background-size: cover;
	background-position: center center;
	border-radius: 1rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	position: relative;
}

.preview::after {
	content: "";
	display: block;
	height: 0px;
	padding-bottom: 100%;
}

.preview__text {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	color: #fff;
	padding: 1.5rem 1rem;
	position: absolute;
	text-align: center;
	width: 100%;
}
