.content {
	background: var(--white);
	border-radius: 0.3rem;
	display: grid;
	grid-template-areas: "photo info";
	grid-template: 1fr / 36rem 20rem;
	height: 36rem;
	margin: auto;
	overflow: hidden;
}

.content::-webkit-scrollbar {
	width: 0.5rem;
}

.content::-webkit-scrollbar-track {
	background: var(--light-gray);
	border-radius: 0 0.3rem 0.3rem 0;
}

.content::-webkit-scrollbar-thumb {
	background: var(--dark-charcoal);
	border-radius: 0 0.2rem 0.2rem 0;
}

.content::-webkit-scrollbar-thumb:hover {
	background: var(--dark-gray);
}

.photo {
	grid-area: "photo";
}

.info {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-area: "info";
	padding: 2rem;
}

.author {
	align-items: center;
	display: flex;
	font-weight: 500;
	justify-content: space-between;
	opacity: 0.6;
}

.author a:hover {
	text-decoration: underline;
}

.views {
	cursor: default;
}

.views::before {
	background: url("../../assets/images/views-black.svg");
	content: "";
	display: inline-block;
	height: 10px;
	margin-right: 0.5rem;
	width: 16px;
}

.attributes {
	display: flex;
	font-size: 1.125rem;
	font-weight: bold;
}

.attributes li {
	margin-right: 1rem;
}

.attributes li::before {
	background: var(--dark-charcoal);
	content: "";
	display: inline-block;
	height: 20px;
	margin-right: 0.5rem;
	position: relative;
	top: 3px;
	width: 2px;
}

.comments {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
}

@media (max-width: 64rem) {
	.content {
		grid-template-areas:
			"photo"
			"info";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		height: 100%;
		max-height: calc(100vh - 4rem);
		overflow-y: auto;
	}

	.content:is(.single) {
		max-height: 100%;
	}
}

/*
@media (max-width: 40rem) {
	.content {
		grid-template: 1fr / 26rem 10rem;
		height: 100%;
		max-height: 100%;
	}
}*/

/*

	




.photo {
	grid: 1 / 4;
	grid-area: photo;

	height: 200px;
}

.photo img {
	border-radius: 0.3rem 0 0 0.3rem;
}

.single .photo img {
	border-radius: 0.3rem;
}

.container {
	grid-area: info;
}

@media (max-width: 64rem) {
	.content {
		grid-template-areas:
			"photo"
			"info";
		grid-template-columns: 1fr;
		height: 100%;
		grid-template-rows: 1fr;
		max-height: calc(100vh - 4rem);
		overflow-y: auto;
	}

	.photo {
		grid-row: 1;
	}
}

/*


.content:is(.single) {
	animation: scale-down 0.4s forwards;
}



@keyframes scale-up {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scale-down {
	from {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}


.single .photo img {
	border-radius: 0.3rem;
}

@media (max-width: 64rem) {
	.content {
		/*grid-template-columns: minmax(20rem, 40rem);
		height: 100%;
		max-height: calc(100vh - 4rem);
		overflow-y: auto;
		/*row-gap: 2rem;
	}

	.content:is(.single) {
		overflow-y: hidden;
		max-height: 100%;
	}

	.photo {
		/*grid-row: 1;
	}
}

.container {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1rem;
	padding: 1rem;
}

.single .container {
	padding: 0;
	border: 1px solid red;
}
*/
