.delete {
	border: 1px solid red;
	display: flex;
}

.delete button {
	background: #ddd;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 0.4rem;
	font-family: var(--type-first);
	font-size: 0.875rem;
	line-height: 1;
	padding: 0.3rem 0.6rem;
	transition: all 0.2s ease-in-out;
}

.delete button:is(:hover, :focus) {
	background: var(--white);
	border-color: var(--dark-charcoal);
	outline: none;
}

.delete__confirm {
	background: var(--white);
	border: 1px solid var(--dark-charcoal);
	border-radius: 0.4rem;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	padding: 1rem;
	position: absolute;

	transform: translate(-50%, -50%);
	width: 20rem;
	z-index: 100;
}
