@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

:root {
	--black: #000;
	--dark-charcoal: #333;
	--dark-gray: #666;
	--light-gray: #ccc;
	--light-shadow: #eee;
	--light-shadow-gray: #ddd;
	--light-yellow: #fea;
	--red: #ff0000;
	--yellow: #fb1;
	--white: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--dark-charcoal);
	--type-first: Helvetica, Arial, sans-serif;
	--type-second: "Spectral", georgia, serif;
	font-family: var(--type-first);
	min-width: 280px;
}

body::-webkit-scrollbar {
	width: 0.9rem;
}

body::-webkit-scrollbar-track {
	background: var(--light-gray);
	padding: 1rem;
}

body::-webkit-scrollbar-thumb {
	background: var(--dark-gray);
	border-radius: 0.3rem;
	padding: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
	background: var(--dark-charcoal);
}

main {
	margin-top: 4rem;
}

section {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 4rem);
	width: 100%;
}

a {
	color: var(--dark-charcoal);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button,
input {
	color: var(--dark-charcoal);
	display: block;
	font-family: var(--type-first);
	font-size: 1rem;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 1.6rem;
}

.container-main {
	padding: 1rem;
}

.title {
	display: inline-block;
	font-family: var(--type-second);
	font-size: 3rem;
	line-height: 1;
	margin: 1rem 0 1rem 0.2rem;
	position: relative;
	z-index: 1;
}

.title::after {
	background: #fb1;
	border-radius: 0.2rem;
	bottom: 5px;
	content: "";
	display: block;
	height: 1.5rem;
	left: -5px;
	position: absolute;
	width: 1.5rem;
	z-index: -1;
}

@media (max-width: 575.98px) {
	.title {
		font-size: 2.4rem;
	}

	.title::after {
		height: 1.1rem;
		width: 1.1rem;
	}
}

.subtitle {
	color: var(--dark-charcoal);
	display: inline-block;
	font-family: var(--type-second);
	font-size: 1.4rem;
	line-height: 1.4;
	margin-top: 0.7rem;
	text-align: center;
	width: 100%;
}

.subtitle a {
	color: #fb1;
}

.anime-left {
	animation: anime-left 0.5s forwards;
	opacity: 0;
	transform: translateX(-20px);
}

@keyframes anime-left {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.error {
	color: var(--dark-charcoal);
	font-weight: 500;
	padding: 2rem;
	text-align: center;
}

:global(.VictoryContainer) {
	height: initial !important;
	border: 1px solid red !important;
	padding: 50px !important;
	width: 50% !important;
}
